.table th  {
  border: 2px solid rebeccapurple;
  background-color: pink;
  word-spacing: 10px;
}
table.table {
  margin-left: auto;
  margin-right: auto;
}


.table {
  border: 2px solid rebeccapurple
}

.legit {
  background-color: #F5F5DC;
}

h1{
  text-align: center;
}

h2{
  text-align: center;
  color: rebeccapurple;
}

tfooter th {
  border: 2px solid rebeccapurple;
  background-color: pink;
}
